body {
  margin: 0;
  font-family: sans-serif;
}

.header {
  position: fixed; /* ตรึงตำแหน่ง */
  top: 0;          /* อยู่ด้านบน */
  left: 0;
  width: 100%;     /* กว้างเต็มหน้าจอ */
  background-color: #4F6F52;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1); /* เงาเล็กๆ */
  z-index: 1000;   /* อยู่เหนือเนื้อหา */
  padding: 10px 20px;
}
